<!DOCTYPE html>
<html lang="en">
	<head>
			<script src="https://cdn.plot.ly/plotly-2.4.2.min.js"></script>
	</head>
  <body>
	<div id="tester" style="width:1000px;height:1000px;"></div>
	<script>
		var data = {{ data|safe }};
		console.log(data);
		time = data.map(item => item.time);
		temp = data.map(item => item.temp);
		humidity = data.map(item => item.humidity);

		var temp_trace = {
			type: 'line',
			x: time,
			y: temp,
			name: 'Temperature'
		};

		var humidity_trace = {
			type: 'line',
			x: time,
			y: humidity,
			name: 'Humidity'
		};

		var layout = {
			width: 600,
			height: 400,
			title: 'Mushy Readings'
		};

		Plotly.newPlot('tester',[temp_trace, humidity,trace], layout);
	</script>
  </body>
</html>